{% extends 'study/base_admin.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body style="background: #f5f5d5">

{% block content %}
    <div class="container-fluid mx-lg-5 my-lg-5">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="#" method="post">
                    {% if message %}
                        <div class="alert alert-warning"></div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">账 号：</label>
                        <input type="text" name="username" class="form-control" id="id_username" placeholder="name"
                               autofocus required>
                        <small id="usernameHelp" class="form-text text-muted">请使用公司域账号登录</small>
                    </div>

                    <div class="form-group">
                        <label for="id_password">密 码：</label>
                        <input type="password" name="password" class="form-control" id="id_password"
                               placeholder="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary" name="login" value="登 录" href="#">登录</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>