{% extends "study/base_admin.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF 管理</title>
</head>
<body>
{% block content %}
    <h1>{{ message }}</h1>
    <a href="{% url 'study:to_operation' 'pdf_file' 'upload' %}" target="_blank">
        <span class="glyphicon glyphicon-plus">文档添加</span> </a>

    {% if system_pdf_list %}
        <a href="/knowledge/to_pdf_delete/{{ system_name }}/" target="_blank">
            <span class="glyphicon glyphicon-remove">文档删除</span> </a>
    {% endif %}


    {% if system_pdf_list %}
        <ul class="list-group">
            {% for system_pdf in system_pdf_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href={{ system_pdf.file_url }} target="_blank">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"> {{ system_pdf.file_name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}



{% endblock content %}
</body>
</html>